.button-user {
    background-color: inherit;
    border: none;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
    .button-user {
        background-color: inherit;
        border: none;
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 10px 20px;
        color: #fff;
        text-decoration: none;
        margin: 15px 0 0 0;
    }
    .dropdown-menu-custom {
        background-color: inherit;
        border: none;
        font-size: 12px;
        font-weight: 800;
        color: #fff;
    }

    .dropdown-menu-user {
        border: none;
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        font-weight: 400;
        margin-top: 0;
    }
}
@media only screen and (max-width: 992px) {
    .button-user {
        background-color: inherit;
        border: none;
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 10px 0px 0px 0;
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        margin: 15px 0 0 0;
    }

    .dropdown-menu {
        border: none;
    }

    .dropdown-menu-user {
        border: none;
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        font-size: 12px;
        font-weight: 800;
        text-transform: uppercase;
    }
}
